version: '2'
services:
  app:
    restart: always
    image: manage-be:v1.0
    ports:
      - 8080:8080
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PWD=${DATABASE_PWD}
      - WECHAT_APPID=${WECHAT_APPID}
      - WECHAT_SECRET=${WECHAT_SECRET}
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
