spring:
  profiles:
    active: development
---
spring:
  profiles: development
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    open-in-view: false
  session:
    store-type: jdbc
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PWD}
  resources:
    static-locations: classpath:/static/order
---
manage:
  loginUrl: ${LOGIN_URL:/login}
  authentication:
    name: ${AUTHENTICATION_NAME:manage}
  secret:
    token: ${TOKEN_SECRET:secret}
    password: ${PWD_SALT:salt}
  wechat:
    infoUrl: ${WECHAT_INFO_URL:/wechat/info}
    successUrl: ${WECHAT_SUCCESS_URL:/wechat/success}
    appId: ${WECHAT_APPID:appid}
    secret: ${WECHAT_SECRET:secret}
    accessTokenURL: ${WECHAT_ACCESS_TOKEN_URL:https://api.weixin.qq.com/cgi-bin/token}
    userAccessTokenURL: ${WECHAT_USER_ACCESS_TOKEN_URL:https://api.weixin.qq.com/sns/oauth2/access_token}
