spring:
  profiles:
    active: development
---
spring:
  profiles: development
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    open-in-view: false
  session:
    store-type: jdbc
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PWD}
---
manage:
  authentication:
    name: ${AUTHENTICATION_NAME:manage}
  secret:
    token: ${TOKEN_SECRET:secret}
    password: ${PWD_SALT:salt}
