spring:
  profiles:
    active: development
---
spring:
  profiles: development
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  session:
    store-type: jdbc
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PWD}
---
manage:
  authentication:
    name: ${AUTHENTICATION_NAME:manage}
  secret:
    token: ${TOKEN_SECRET:secret}
    password: ${PWD_SALT:salt}
  wechat:
    appId: ${WECHAT_APPID:appid}
    secret: ${WECHAT_SECRET:secret}
    dailyReportTemplateId: ${WECHAT_DAILY_REPORT_TEMPLATE_ID:id}
    accessTokenURL: ${WECHAT_ACCESS_TOKEN_URL:https://api.weixin.qq.com/cgi-bin/token}
    userAccessTokenURL: ${WECHAT_USER_ACCESS_TOKEN_URL:https://api.weixin.qq.com/sns/oauth2/access_token}
    refreshAccessTokenURL: ${WECHAT_REFRESH_ACCESS_TOKEN_URL:https://api.weixin.qq.com/sns/oauth2/refresh_token}
    userInfoURL: ${WECHAT_USER_INFO_URL:https://api.weixin.qq.com/sns/userinfo}
    messageURL: ${WECHAT_MESSAGE_URL:https://api.weixin.qq.com/cgi-bin/message/template/send?access_token=}
